@model IEnumerable<SC_Imperia.Models.Supplier_sports_nutrition>

@{
    ViewBag.Title = "Supplier sports nutrition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .center {
        width: 100px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>

<h2 align="center">Supplier sports nutrition</h2>

<table align="center" class="table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.Label("Quantity")
        </th>
        <th>
            @Html.Label("Price")
        </th>
        <th>
            @Html.Label("Model")
        </th>
        <th>
            @Html.Label("Last name staff")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senior_staff.lname)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Supplier", new { id = item.ID })">
                    <img src="@Url.Content("~/Content/Edit.png")" />
                </a>
                <a href="@Url.Action("Details", "Supplier", new { id = item.ID })">
                    <img src="@Url.Content("~/Content/Details.png")" />
                </a>
                <a href="@Url.Action("Delete", "Supplier", new { id = item.ID })">
                    <img src="@Url.Content("~/Content/Delete.png")" />
                </a>
            </td>
        </tr>
    }
</table>

<div class="center">
    <a href="@Url.Action("Create", "Supplier")">
        <img src="@Url.Content("~/Content/New.png")" />
    </a>
</div>